<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        #header
       {  
           height:200px;
           background-color: rgb(9, 9, 9);
           

       }
       #middle
       {
           height:600px;
           background-color: rgb(68, 151, 223);
           background-image:url("/static/image/job.jpg");
           /*background-repeat: no-repeat;*/ 
       }
       #footer
       {
           height:200px;
           background-color: rgb(9, 8, 8);  
       }
       

   </style>
</head>
<body>
    <div id ="header">
        <marquee direction="down" scrollamount="10"><font color="pink"><h1><b><center>Home  Page</center></b></h1></font></marquee>
        <br><br>
        <br><br>
        <nav>
            <h2><b><a href="home"><input type="submit" name="btnsubmit"value="Home"></a></b>
            <b><a href="login"><input type="submit" name="btnsubmit"value="Userlogin"></a></b>
            <b><a href="clientcreate"><input type="submit" name="btnsubmit"value="clientregistration"></a></b>
         
        </h2></nav>
    
        </div>
        <div id="middle">
            
            <marquee direction="right" scrollamount="10"><font color="blue"><h1>Apply Now <a href="registration">click the link</a></h1></font></marquee>
            </div>
        </div>
        <div id ="footer">
            <div class="footerpart">
                <nav >
                <a href="http://www.twitter.com" target="_self">
                    <img src="/static/image/twitter.jpg"
                   width="50" height="50" >
                   </a>
                <a href="http://www.instagram.com" target="_self">
                    <img src="/static/image/insta.jpg"
                   width="50" height="50" >
                   </a>
                   <a href="http://www.gmail.com" target="_self">
                    <img src="/static/image/gmail.jpg"
                   width="50" height="50" >
                   </a>
                </nav>
                   
    
            </div>
        </div>
    

</body>
</html>